<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NativeBindingsGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <NativeBindingsGenerator.Properties.Settings>
            <setting name="apr_include_dir" serializeAs="String">
                <value>C:\src\apr-1.7.0\include</value>
            </setting>
            <setting name="aprutil_include_dir" serializeAs="String">
                <value>C:\src\apr-util-1.6.1\include</value>
            </setting>
            <setting name="subversion_include_dir" serializeAs="String">
                <value>C:\src\subversion-1.10.6\subversion\include</value>
            </setting>
            <setting name="libsvnsharp_include_dir" serializeAs="String">
                <value>C:\src\LibSvnSharp\include</value>
            </setting>
        </NativeBindingsGenerator.Properties.Settings>
    </applicationSettings>
</configuration>